/* * {
    border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--main-bg);
    color: var(--white);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    color: var(--soft-blue);
}

hr {
    display: block;
    height: 0px;
    width: 100%;
    border-color: var(--line);
    border-style: solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__container {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    width: 300px;
    padding: 25px 25px;
    border-radius: 15px;
}

.hero-image {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.eye {
    display: none;
    padding: 120px;
    border-radius: 10px;
}

.eye:hover {
    display: block;
    z-index: 99;
    background: var(--cyan);
}

.author:hover,
.title:hover {
    color: var(--cyan);
    cursor: pointer;
}

.description {
    margin-top: 0;
}

.info {
    display: flex;
    gap: 5.5rem;
    align-items: center;
    justify-content: center;
}

.price {
    color: var(--cyan);
    margin-top: 0;
    font-weight: 600;
}

.days-left {
    margin-top: 0;
}


.credit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.credit img {
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    color: var(--white);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--soft-blue);
  }
  .attribution a {
    color: var(--cyan);
    text-decoration: none;
  }

:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

@media screen and (max-width: 375px) {

}